<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn270uTy4d1HTEZ0dTq3VKGZhqmi-FqcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>366946861685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brandonmakai.Solace</string>
	<key>PROJECT_ID</key>
	<string>solace-7c9eb</string>
	<key>STORAGE_BUCKET</key>
	<string>solace-7c9eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366946861685:ios:57b54143f1410b9af22e3c</string>
</dict>
</plist>